<center>
    <header id="header" class="header">
        <h1>创意礼物</h1>
        <p>一份别出心裁的礼物，促成一份惊喜，体现一点心意。</p>
    </header>
</center>
<div>
    <h3>情人节: </h3>
    <div class="container">
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{pic}}" /></a>
        </div>
        <div class="item">
           <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{circle}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{heart}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{text}}" /></a>
        </div>
    </div>
        
    <h3>生日礼物:</h3>
    <div class="container">
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{pic}}" /></a>
        </div>
        <div class="item">
           <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{circle}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{heart}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{text}}" /></a>
        </div>
    </div>
        
    <h3>过年祝福:</h3>
    <div class="container">
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{pic}}" /></a>
        </div>
        <div class="item">
           <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{circle}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{heart}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{text}}" /></a>
        </div>
    </div>
        
    <h3>邀请函:</h3>
    <div class="container">
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{pic}}" /></a>
        </div>
        <div class="item">
           <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{circle}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{heart}}" /></a>
        </div>
        <div class="item">
            <a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font"></font><img src="{{text}}" /></a>
        </div>
    </div>
</div>